
<div class="container">
		<div class="top">
			<h1 id="login-title" class="hidden"><span id="logo"> Whiteboard </span></h1>
		</div>

		<br/><br/>

		<div class="login-box animated fadeInUp">
			<div class="box-header">
				<h2>Login</h2>
			</div>

			{{#if message}}
	        <h3> {{message}} </h3>
	        <button class="btn btn-lg btn-primary btn-block" id='authenticatedUser'>Continue</button>
	        {{/if}}

	        {{#unless message}}
			<h2 class="form-signin-heading"></h2>
	        <input id="login" type="image" src="public/images/GitHub_Logo.jpg">
	      	</form>
        	{{/unless}}
		</div>
</div>

<script>
	$(document).ready(function () {
    	$('#logo').addClass('animated fadeInDown');
    	$("input:text:visible:first").focus();
	});
 </script>
