<div class="container">
  <div class="col-lg-6">
      <form class="form-signin">
        <h2 class="form-signin-heading">Sign Up</h2>

        <label for="inputName" class="sr-only">Name</label>
        <input type="name" id="inputName" class="form-control" placeholder="Name" required="true" autofocus="">
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="true" autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="true">


        <button class="btn btn-lg btn-primary btn-block" type="submit" id = 'newUser'>Create Account</button>
      </form>
  </div>
</div>