{{!-- Course detail --}}

{{!-- Session Cards --}}
<div class="container">
<div class="card-deck">

  {{!-- Session Card --}}
  {{#each session}}
      {{> session_card}}
  {{/each}}

</div>
{{!-- /.card-deck --}}
</div>
{{!-- /.container --}}