body {
	background: url("../images/photo_bg.jpg") no-repeat center center fixed;
	background-size: cover;
	font-size: 16px;
	position: center;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	margin: 0;
	color: white;
}


/* Typography */

#login-title {
	font-family: 'Permanent Marker', cursive;
	font-weight: 250;
	font-size: 5em;
	color: white;
	text-shadow: 0px 0px 20px black;
	margin: 0 auto;
	padding-top: 0px;
	text-align: center;
	position: relative;
	top: 0px;
}

h2 {
	text-transform: uppercase;
	color: white;
	font-weight: 400;
	letter-spacing: 1px;
	font-size: 1.4em;
	line-height: 2.8em;
}

p.small {
	font-size: 0.8em;
}

#authenticatedUser {
	background: url("../images/photo_bg.jpg") no-repeat center center fixed;
	background-size: cover;
	font-size: 16px;
	position: center;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	margin: 0;
	color: white;
}

.container {
	margin: 0;
}

.fadeInDown {
	animation-name: fadeInDown;
	-webkit-animation-name: fadeInDown;
	-moz-animation-name: fadeInDown;
	-o-animation-name: fadeInDown;
}

.fadeInDown {
	animation-name: fadeInUp;
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
}

#login {
	margin-top: 0px;
	border: 0;
	border-radius: 2px;
	color: white;
	padding: 10px;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.7em;
	letter-spacing: 1px;
	background-color: #e09b3a;
	cursor: pointer;
	outline: none;
}

.login-box {
	background-color: #dee0e0;
	max-width: 300px;
	margin: 0 auto;
	position: relative;
	top: 25px;
	padding-bottom: 15px;
	border-radius: 5px;
	box-shadow: 0 5px 50px rgba(0, 0, 0, 0.7);
	text-align: center;
	animation: 1s ease-in-out 1s;
	-webkit-animation: 1s ease-in-out 1s;
	-moz-animation: 1s ease-in-out 1s;
	-o-animation: 1s ease-in-out 1s;
}

.login-box .box-header {
	background-color: grey;
	margin-top: 0;
	border-radius: 5px 5px 0 0;
}

.login-box label {
	font-weight: 700;
	font-size: .8em;
	color: #7a7874;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 2em;
}

.login-box input {
	margin-bottom: 20px;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 2px;
	font-size: .9em;
	color: #888;
}

.login-box button:hover {
	opacity: 0.7;
	transition: 0.5s;
}

.login-box input:focus {
	outline: none;
	border-color: #665851;
	transition: 0.5s;
	color: #665851;
}

#logo {
	animation: 1s ease-in-out 2s;
	-webkit-animation: 1s ease-in-out 2s;
	-moz-animation: 1s ease-in-out 2s;
	-o-animation: 1s ease-in-out 2s;
}

.top {
	margin: 0;
	padding: 0;
	width: 100%;
}

@keyframes fadeInDown {
	from {
		opacity: 0;
		transform: translate3d(0, -100%, 0);
		-webkit-transform: translate3d(0, -100%, 0);
		-moz-transform: translate3d(0, -100%, 0);
		-o-transform: translate3d(0, -100%, 0);
	}
	to {
		opacity: 1;
		transform: none;
		-webkit-transform: none;
		-moz-transform: none;
		-o-transform: none;
	}
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
		-webkit-transform: translate3d(0, 100%, 0);
		-moz-transform: translate3d(0, 100%, 0);
		-o-transform: translate3d(0, 100%, 0);
	}
	to {
		opacity: 1;
		transform: none;
		-webkit-transform: none;
		-moz-transform: none;
		-o-transform: none;
	}
}