
/* Root */

:root {
  --color-red: rgb(199, 73, 35);
  --color-lblue: rgb(0, 130, 153);

}


/* Elements */

body {
  height: 100%;
  font: 14px, 'Roboto Slab', serif;
  width: 100%;
  padding: 0;
  background: url("../images/photo_bg.jpg") no-repeat center center fixed;
  background-size: cover;
  position: center;
  font-weight: 300;
  margin: 0;
  overflow-x: hidden;
  color: white;
}

a {
  color: var(--color-lblue);
}

header {
  position: absolute;
  text-align: center;
  width: 100vw;
  z-index: 999;
}

h2 {
  text-transform: uppercase;
  color: white;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 1.4em;
  line-height: 2.8em;
}

p.small {
  font-size: 0.8em;
}

section {
  height: 100vh;
}

/* Classes */

.active {
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

.btn-primary {
  background-color: #18a7b7;
  border: none;
}

.btn-primary:hover {
  background-color: #00859b;
}

.card {
  background-color: #ef9b1a;
  transition: all .2s ease-in-out;
}

.card:hover {
  transform: translate(0px, -5px);
}

.container {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  padding: 50px 25px;
  margin: 0;
}

.commentImg {
  width: 50px;
  height: 50px;
  margin: 10px;
}

.commentRow {
  margin: 15px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.commenterName {
  font-size: 12px;
}

.fadeInDown {
  animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
}

.fadeInDown {
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
}

.hero-basic {
  padding-top: 25%;
  opacity: 1;
}

.hero-left {
  background-color: rgba(199, 71, 35, 0.5);
  left: -50px;
  width: 50%;
  transition: all 1s ease-in-out;
}

.hero-right {
  background-color: rgba(0, 130, 153, 0.5);
  right: -50px;
  width: 50%;
  transition: all 1s ease-in-out;
}

.hero-left:hover {
  padding-left: 50px;
  width: 75%;
}

.hero-left:hover+.hero-right {
  width: 25%;
}

.hero-right:hover {
  padding-right: 50px;
  width: 75%;
}

.hero-expanded {
  visibility: hidden;
}

.hero-expanded.active {
  visibility: visible;
}

.login-box {
  background-color: #dee0e0;
  max-width: 300px;
  margin: 0 auto;
  position: relative;
  top: 25px;
  border-radius: 5px;
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.7);
  text-align: center;
  animation: 1s ease-in-out 1s;
  -webkit-animation: 1s ease-in-out 1s;
  -moz-animation: 1s ease-in-out 1s;
  -o-animation: 1s ease-in-out 1s;
}

.login-box .box-header {
  background-color: grey;
  margin-top: 0;
  border-radius: 5px 5px 0 0;
}

.login-box label {
  font-weight: 700;
  font-size: .8em;
  color: #7a7874;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 2em;
}

.login-box input {
  margin-bottom: 20px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: .9em;
  color: #888;
}

.login-box button:hover {
  opacity: 0.7;
  transition: 0.5s;
}

.login-box input:focus {
  outline: none;
  border-color: #665851;
  transition: 0.5s;
  color: #665851;
}

.modal-header {
  background-color: var(--color-lblue);
}

.modal-footer {
  background-color: var(--color-red);
}

.nav-tabs {
  border: none;
  margin-bottom: 5px;
}

.nav-tabs .nav-link {
  font-family: 'Permanent Marker', cursive;
  font-weight: 150;
  font-size: 1em;
  color: #ccc;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

.nav-tabs .nav-link:hover {
  border: none;
}

.nav-tabs .nav-link.active {
  font-family: 'Permanent Marker', cursive;
  font-weight: 250;
  font-size: 2em;
  color: white;
  background: none;
  text-shadow: 0px 0px 10px black;
  margin: 0 auto;
  padding-top: 0px;
  text-align: center;
  position: relative;
  top: 0px;
  border: none;
}

.panes {
  margin-left:auto;
  margin-right:auto;
  width:100%;
}

.row {
  height: 100%;
  margin-bottom: 0;
}

.tab-content {
  width: 100%;
  padding: 20px;
  background-color: #333;
  height: 450px;
  overflow-x: hidden;
  border-right: solid 5px #222;
  margin-top: 20px;
}

.top {
  margin: 30px;
  padding: 0;
  width: 100%;
}


/* IDs */

#authenticatedUser {
  background: url("../images/photo_bg.jpg") no-repeat center center fixed;
  background-size: cover;
  font-size: 16px;
  position: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  margin: 0;
  color: white;
}

#login {
  margin: 0px;
  margin-bottom: -6px;
  border: 0;
  color: white;
  padding: 10px 0px 0px 0px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.7em;
  letter-spacing: 1px;
  cursor: pointer;
  height: 125px;
  outline: none;
}

#login-header {
  height: 100vh;
  margin: -50px -50px 0 -50px;
  overflow: hidden;
  text-align: center;
}

#login-title {
  font-family: 'Permanent Marker', cursive;
  font-weight: 250;
  font-size: 5em;
  color: white;
  text-shadow: 0px 0px 20px black;
  margin: 0 auto;
  padding-top: 0px;
  text-align: center;
  position: relative;
  top: 0px;
}

#logo {
  animation: 1s ease-in-out 2s;
  -webkit-animation: 1s ease-in-out 2s;
  -moz-animation: 1s ease-in-out 2s;
  -o-animation: 1s ease-in-out 2s;
}

#userAvatar {
  width: 50px;
  background-color: white;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
}

#userInfo {
  width: 100px;
  padding: 25px;
  margin: -50px 5px -50px -40px;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
}

#userInfo>#slide {
  height: 100vh;
  width: 5px;
  float: right;
  margin: -15px;
  background-color: #222;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
}

#userInfo:hover {
  padding-right: 10px;
}

#userInfo:hover>#slide {
  width: 10px;
}

#userInfo,
.list-group-item {
  background-color: #333;
  border-color: #2c2c2c;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  color: #ccc;
  white-space: nowrap;
}

#userInfo .list-group-item.collapse {
  background-color: #222;
}

#userInfo .list-group-item span {
  visibility: hidden;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
}

#userInfo.active {
  width: 250px;
  padding: 15px;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
}

#userInfo.active #userAvatar {
  width: 150px;
}

#userInfo.active .list-group-item span {
  visibility: visible;
}


/* Subject Colors */

.javascript {
  background-color: yellow;
}

.html {
  background-color: orange;
}


/* Keyframes */

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
  }
}